<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UaiPagoConnection" connectionString="Data Source=LAPTOP-A3HABLR6\SQLEXPRESS;Initial Catalog=PagosUai;Integrated Security=True;" />
    </connectionStrings>
</configuration>